

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <a class="btn btn-primary" href="/student">Back</a>
            <br>
            <br>
            <div class="card shadow">
                <div class="card-body student_data_show">
                    
                    <h3>Edit <%= singleStudent.name %>  Data</h3>
                    <% if (singleStudent.photo == 'avatar.png') { %>
                     
                        <img src="/images/<%= singleStudent.photo %> " alt="">

                        <% } else { %>
                            
                            <img src="/images/students/<%= singleStudent.photo %>" alt="">

                    <% } %>

                    <br>
                    <br>
                    <p>Name: <%= singleStudent.name %></p>
                    <p>Email: <%= singleStudent.email %></p>
                    <p>Cell: <%= singleStudent.cell %></p>


                </div>
            </div>
        </div>
    </div>
</div>